.info_slide {
  position: relative;

  .slide_img {
    transform: scale(1);

    @media (min-width: 576px) and (max-width: 767.98px) {
      height: 450px;
      object-fit: cover;
    }

    @media (max-width: 575.98px) {
      height: 450px;
      object-fit: cover;
    }
  }

  .box_content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 13%;
    z-index: 2;

    &.right {
      right: 5%;
    }

    @media (max-width: 575.98px) {
      &.right {
        right: 5%;
      }
      left: 5%;
    }

    .left_text {
      text-align: left;
      &.right {
        text-align: right !important;
      }
      font-family: 'Montserrat Alternates', sans-serif;

      .box_title2 {
        .title_big {
          color: #9c0646;
          font-family: 'Dancing Script', cursive;
          font-size: 3.9em;
          font-weight: 400;
          padding-bottom: 35px;

          @media (min-width: 992px) and (max-width: 1199.98px) {
            font-size: 3.5em;
          }

          @media (min-width: 768px) and (max-width: 991.98px) {
            font-size: 2.8em;
          }

          @media (min-width: 576px) and (max-width: 767.98px) {
            font-size: 2.2em;
          }

          @media (max-width: 575.98px) {
            font-size: 1.9em;
          }
        }
      }

      .box_title3 {
        .title_small2 {
          color: #000000;
          font-family: 'Montserrat Alternates', sans-serif;
          font-size: 20px;
          font-weight: 500;
          padding-bottom: 15px;
          text-transform: unset;
          line-height: 1.5;
        }
      }

      .main_btn {
        color: #9c0646;
        margin-top: 30px;
        font-weight: 500;
        font-size: 15px;
        font-family: 'Montserrat Alternates', sans-serif;
        padding: 15px 30px;
        transition: .3s;
        display: inline-block;
        border: 1px solid #9c0646;

        &:hover {
          background: #ffffff !important;
          border-color: #ffffff !important;
          color: #9c0646 !important;
        }
      }
    }
  }
}

