.text_center {
  text-align: center;

  .icon {
    margin-bottom: 0.7rem;
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
    text-align: center;

    img {
      width: 90px;
      height: 90px;
    }
  }

  .title_heading {
    margin-bottom: 37px;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
    color: #9c0646;
    letter-spacing: -1px;
    text-transform: none;
    position: relative;

    @media only screen and (max-width: 576px) {
      padding-bottom: 0;
      font-size: 2.5em;
    }

    &.on_sub_heading {
      margin-bottom: 0;
    }
  }

  .sub_heading {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #777;
    padding-top: 20px;
    display: block;
  }
}
